<%= render "shared/second-header"%>

<%= form_with model: resource, as: resource_name, url: registration_path(resource_name), class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      <%= t('account.head')%>
    </h1>
  </div>

  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
  <%= render 'shared/error_messages', model: f.object %>
  <%# //インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.nickname')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:t('account.nicknameeg'), maxlength:"40" %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.email')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:t('account.emaileg'), autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.password')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:t('account.passwordeg') %>
    <p class='info-text'><%= t('account.requirement')%></p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.conformation')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <%= f.password_field :encrypted_password, class:"input-default", id:"password-confirmation", placeholder:t('account.conformationeg') %>
  </div>
  <div class="form-group">
    <p class='form-info-header'>
      <%= t('account.identification')%>
    </p>
    <p class='form-info-text'>
      <%= t('account.text')%>
    </p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.name')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_area :family_name, class:"input-name", id:"first-name", placeholder: t('account.familynameeg') %>
      <%= f.text_area :first_name, class:"input-name", id:"last-name", placeholder: t('account.firstnameeg') %>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text"><%= t('account.birth')%></label>
      <span class="indispensable"><%= t('account.required')%></span>
    </div>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 1930,
                    end_year: (Time.now.year - 5),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
    </div>
    <p class='info-text'><%= t('account.info')%></p>
  </div>
  <div class="form-group">
    <h2 class='form-bottom-text'>
      <%= t('account.agree') %>
      <span><%= t('account.use')%></span><%= t('account.agree2')%>
      <br>
    </h2>
  </div>
  <div class='register-btn'>
    <%= f.submit t('account.submit') ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>