<header class ='translate-bar'>

<li><%= link_to t(:users), users_path %></li>

<%= content_tag :li do %>
  <%= link_to 'Switch to English', locale: :en %>
<% end unless current_page?(locale: :en) %>

<%= content_tag :li do %>
  <%= link_to '日本語に切り替え', locale: :ja %>
<% end unless current_page?(locale: :ja) %>

</header>