<header></header>
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
           <%= t('title.review') %>
      </h1>
    <%= link_to 'Write a review',new_review_path, class: "subtitle" %>
    </div>
  </div>
</section>

  <% @reviews.each do |review| %>
    </div>
</div>
      <table class="detail-table">
      
      <table class="detail-table">
          <tbody>
          
            <tr>
            <th class="detail-item"><%= t('account.nickname') %></th>
            <td class="detail-value"><%= review.name%></td>
            </tr>
            <tr>
            <th class="detail-item"><%= t('review.satisfaction') %></th>
            <td class="detail-value"><%= review.satisfaction.name %></td>
            </tr>
            <tr>
            <th class="detail-item"><%= t('title.review') %></th>
            <td class="detail-value"><%= review.content%></td>
           </tr>
          </tbody>
      </table>
   <%end%>
   <a class="btn" href="/"><%= t('review.back') %></a>
   