<section class="page-section" id="review">
    <div class="text-center">
        <h2 class="section-heading text-uppercase"><%= t('review.head')%></h2>
        <h3 class="section-subheading text-muted"><%= t('review.text')%></h3>
    </div>
    
    <%= form_for @review do |f| %>
    
    <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group">

      <%= f.label :お客様のお名前 %>
     <%= f.text_field :name %>

      <%= f.label :score, t('review.satisfaction'), class: 'form-text' %>

      <%#星入れる%>
      <%= f.collection_select(:satisfaction_id, Satisfaction.all, :id, :name, {}, {class:"satisfaction-select"}) %>
    </div>

  <div class="form-group">
    <%= f.label :content, t('review.comment'), class: 'form-text'%>
    <%= f.text_area :content, size: '30x10', class: 'form-control', placeholder: t('review.form')%>
  </div>

  <div class="text-center">
    <div id="success">
    </div>
      <%= f.submit t('review.submit'), class: "btn btn-primary btn-xl text-uppercase"%>
      

  </div>
<% end %>